ws-javaframeworks/ws-javaframeworks-web/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmldefs.pentasys.de/ws/javaframeworks/user" version="1.0">

  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="active" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
